{
  "test": ".*.ts$",
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "src",
    "paths": {
      "@/tests/*": [
        "../tests/*"
      ],
      "@/*": [
        "*"
      ]
    }
  },
  "module": {
    "type": "commonjs"
  }
}